.container {
	background-color: $light;
	padding: 2rem 1rem .5rem 1rem;
	border-radius: .3rem;
	margin-bottom: 1rem;

	a {
		color: $secondary;
	}

	a.search-item {
		text-decoration: none;
		display: block;

		&:hover {
			background-color: rgba($color: $primary, $alpha: .03);
			color: $primary;
		}

		.price {
			color: #77a464;
		}
	}

	.woocommerce {
		.col-1 {
			max-width: unset !important;

			.form-row {
				display: block;
			}
		}
		.col-2 {
			max-width: unset !important;
		}

		button, a.button {
			background-color: $primary !important;
			color: $light;
		}

		input, textarea, .woocommerce-ordering > select, .select2-selection.select2-selection--single{
			padding: .5rem 1rem !important;
			border: 1px solid #aaa !important;
			border-radius: .2rem !important;
			height: unset !important;
			margin: 0 .5rem !important;

			.select2-selection__arrow {
				top: 25% !important;
				right: 15px !important;

				b {
					border-width: 8px 8px 0 8px !important;
				}
			}
		}
	}

	#order_comments_field {
		display: block !important;
	}

	.woocommerce-MyAccount-navigation {
		background-color: $primary;
		padding: 1rem;
		width: 20%;
		line-height: 2rem;
		border-radius: .2rem;

		ul {
			list-style-type: none;
			margin: unset;
			padding: unset;
		}

		a {
			color: $light;
		}

		
	}

	.woocommerce-MyAccount-content {
		padding: 1rem;
		width: 78%;

		a {
			color: $secondary;
		}
	}

	.form-row {
		display: block;
	}

	button, a.button {
		background-color: $primary !important;
		color: $light !important;
	}

	.product {
		.related {
			padding: 2rem 2rem 0 2rem;
			background-color: $dark;
			border-radius: .2rem;

			h2 {
				color: $light;
				margin-bottom: 1rem;
			}
		}
	}

	.spc2-image {
		img {
			max-width: 100% !important;
		}
	}
}